<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oasispay.paysdk" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activities.PaySDKActivity"></activity>

    </application>
</manifest>
